<div class="container">
  <% if User.current %>
    <div class="row">
      <% if avatar_url = User.current.avatar_url %>
        <% sep = (/\?/ =~ avatar_url) ? "&" : "?" %>
        <% img = "#{avatar_url}#{sep}s=128" %>
        <% name = User.current.screen_name %>
        <%= link_to image_tag(img, size: "64x64", alt: "@#{name}",
                  class: "avatar"), "https://github.com/#{name}" %>
        <h2><%= User.current.name %></h2>
      <% end %>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Organization repositories</div>
        <div class="panel-body"></div>
        <ul class="list-group">
          <% User.current.repos.each do |repos| %>
            <li class="list-group-item">
              <%= link_to repos.full_name, repos.html_url %>
            </li>
          <% end %>
        </ul>
      </div><!-- /panel -->
    </div><!-- /row -->
  <% end %>
</div><!-- container -->
