.container
  - if User.current
    .row
      - if avatar_url = User.current.avatar_url
        - name = User.current.screen_name
        = link_to user_avatar_icon_tag(User.current, 64), "https://github.com/#{name}"
        %h2= User.current.name
