#choose-repos-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Choose Repository
      .modal-body
        %form#submit-form
          %p
            %b Message:
          %p
            %textarea#selected-range{:name => "message"}
          %p
            %b Repositories
          %p
            %input#repository{:name => "repository", :type => "text"}/
          %ul#repositories-list.list-group
            %li.list-group-item
              %input{:type => "checkbox"}/
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        %button#submit-button.btn.btn-primary{:type => "submit"} OK
