<% require "markdown_converter" %>

<style type="text/css">
.markdown-body {
  border: 1px solid #000000;
  background-color: "lavender";
  margin: 10px;
  padding: 30px;
}
</style>

<div class="markdown-body">
<%= raw ::JayFlavoredMarkdownConverter.new(text).content %>
<button class="action-item">New Issue</button>
</div>
