#create-comment-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Create comment
      .modal-body
        %div#target
        %form#comment-form
          %p
            %b Description
          %p
            %textarea#comment-body{:name => "message", :rows => "7"}
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        %button#submit-button.btn.btn-primary{:type => "submit"} OK
