%h1 Listing tags
%table.table
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @tags.each do |tag|
      %tr
        %td= tag.name
        %td= link_to 'Edit', edit_tag_path(tag)
        %td= link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br/
= new_content new_tag_path
