[Unit]
Description=Document Management Server on Docker
Requires=docker.service
After=docker.service

[Service]
# Change path and port to suit your environment
User=jay
ExecStart=/path/to/jay/scripts/jay-docker.sh start -p 3000
ExecStop=/path/to/jay/scripts/jay-docker.sh stop

Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
